* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    background: #1B1B1B;
    padding: 24px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #9C9C9C;
    padding-right: 70px;
}

.header-ions {
    display: flex;
    align-items: center;
}

.header-ions a {
    color: silver;
    font-size: 22px;
    padding-left: 24px;
}

#hero {
    padding: 93px 0 45px 0;
    background: #080808;
}

.hero-text h1 {
    font-size: 44px;
    color: white;
    font-weight: 800;
}

.hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #9C9C9C;
    width: 372px;
    padding: 20px 0 30px 0;
}

.hero-text button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: #3F8E00;
    border: 1px solid #62BA1B;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 21px 64px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.hero-text button ion-icon {
    color: white;
    padding-left: 10px;
}

.hero h3 {
    font-size: 14px;
    color: white;
    padding: 109px 0 20px 0;
    font-weight: 400;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B1B1B;
    width: 160px;
    height: 60px;
}

.hero-logo-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-group {
    display: flex;
    align-items: center;
}

.hero-text {
    padding-right: 150px;
}

#case {
    padding: 80px 0;
}

.case h1 {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
}

.case p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #9C9C9C;
    padding: 10px 0 60px 0;
}

.case-general {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-group {
    padding-right: 30px;
}

.case-fintech {
    width: 72px;
    height: 24px;
    border-radius: 60px;
    background: #FFF6E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-fintech h5 {
    font-size: 12px;
    font-weight: 700;
    color: #FFA217;
}

.case-group h3 {
    font-size: 24px;
    font-weight: 800;
    color: #080808;
    padding: 20px 0 10px 0;
}

.case-group h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9C9C9C;
    width: 421px;
    padding-bottom: 40px;
}

.case-group button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #FFA217;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.case-group button ion-icon {
    padding-left: 10px;
    font-size: 20px;
}

.case-general-two {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-group-two {
    padding-left: 30px;
}

.case-edtech {
    width: 64px;
    height: 24px;
    background: #D0E6FF;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-edtech h5 {
    font-size: 12px;
    font-weight: 700;
    color: #000AFF;
}

.case-group-two h3 {
    font-size: 24px;
    font-weight: 800;
    color: #080808;
    padding: 20px 0 10px 0;
}

.case-group-two h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9C9C9C;
    width: 421px;
    padding-bottom: 40px;
}

.case-group-two button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #000AFF;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.case-group-two button ion-icon {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.case-general-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-group-three {
    padding-right: 30px;
}

.case-pharma {
    background: #E0FFF8;
    width: 64px;
    height: 24px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-pharma h5 {
    font-size: 12px;
    font-weight: 700;
    color: #2AB090;
}

.case-group-three h3 {
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0 10px 0;
}

.case-group-three h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9C9C9C;
    width: 421px;
    padding-bottom: 40px;
}

.case-group-three button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 10px 24px;
    background: #2AB090;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.case-group-three button ion-icon {
    font-size: 20px;
    padding-left: 10px;
}

#test {
    background: #080808;
    padding: 80px 0;
}

.test h1 {
    font-size: 34px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.test p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
    color: #9C9C9C;
    width: 570px;
    margin: 0 auto;
    padding: 10px 0 60px 0;
}

.test-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.test-group {
    padding: 15px;
}

.test-block {
    border: 1px solid #9C9C9C;
    border-radius: 5px;
    color: white;
    padding: 30px 0 0 30px;
    width: 385px;
    height: 182px;
}

.test-block h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #9C9C9C;
    padding-bottom: 30px;
    width: 289px;
}

.test-user {
    display: flex;
    align-items: center;
}

.test-user h3 {
    font-size: 18px;
    color: white;
    padding-left: 20px;
    font-weight: 700;
}

.test-icon {
    position: relative;
    top: 15px;
    left: 15px;
}

#recent {
    padding: 80px 0;
}

.recent h1 {
    font-size: 34px;
    color: #080808;
    font-weight: 800;
    text-align: center;
}

.recent p {
    font-size: 14px;
    color: #9C9C9C;
    width: 570px;
    margin: 0 auto;
    padding: 10px 0 60px 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
}

.recent-general {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-block {
    padding: 0 15px;
}

.recent-block h3 {
    font-size: 24px;
    color: #080808;
    padding: 40px 0 20px 0;
    font-weight: 800;
}

.recent-block h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #9C9C9C;
    width: 421px;
    padding-bottom: 20px;
}

.recent-block button {
    font-size: 14px;
    color: white;
    background: #3F8E00;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.recent-block button ion-icon {
    color: white;
    font-size: 17px;
    padding-left: 10px;
}

#touch {
    background: #080808;
    padding: 90px 0;
    color: white;
}

.touch h1 {
    font-size: 34px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

.touch p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 470px;
    color: #9C9C9C;
    padding: 10px 0 40px 0;
    margin: 0 auto;
}

.touch-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.touch-group-inputs {
    padding-bottom: 20px;
}

.touch-group-inputs h3 {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.touch-group-inputs input {
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    background: white;
    padding-left: 12px;
    outline: none;
}

.touch-group-textarea h3 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding-bottom: 5px;
}

.touch-group-textarea textarea {
    width: 350px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    background: white;
    color: #757575;
    outline: none;
    padding: 12px 0 0 12px;
    margin-bottom: 20px;
}

.touch-group-button button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #3F8E00;
    border: 1px solid #62BA1B;
    box-shadow: 0px 8px 30px 0px #3F8E004D;
    padding: 16px 145px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.touch-group-button button ion-icon {
    color: white;
    font-size: 17px;
    padding-left: 10px;
}

#footer {
    background: #1B1B1B;
    padding: 26px 0;
}

.footer h1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
    color: #9C9C9C;
}