* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    background: #1B1B1B;
    padding: 24px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #9C9C9C;
    padding-right: 70px;
}

.header-ions {
    display: flex;
    align-items: center;
}

.header-ions a {
    color: silver;
    font-size: 22px;
    padding-left: 24px;
}

#hero {
    padding: 93px 0 45px 0;
    background: #080808;
}

.hero-text h1 {
    font-size: 44px;
    color: white;
    font-weight: 800;
}

.hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #9C9C9C;
    width: 372px;
    padding: 20px 0 30px 0;
}

.hero-text button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: #3F8E00;
    border: 1px solid #62BA1B;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 21px 64px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.hero-text button ion-icon {
    color: white;
    padding-left: 10px;
}

.hero h3 {
    font-size: 14px;
    color: white;
    padding: 109px 0 20px 0;
    font-weight: 400;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B1B1B;
    width: 160px;
    height: 60px;
}

.hero-logo-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-group {
    display: flex;
    align-items: center;
}

.hero-text {
    padding-right: 150px;
}